@import './index.css';

@font-face {
    font-family: Times;
    src: url('./assets/times.ttf');
}

:root {
    --purple: #6665DD;
    --black: #000;
    --white: #FFFAFF;
}
/*
 * General styles
 shadow-[27px_27px_69px_rgb(219,215,219)]
 transition-all duration-200 ease-in-out
className={`w-[20%] h-[8%] border-solid border-2 border-[var(--black)] rounded-2xl ${load ? "bg-[var(--purple)] opacity-45 text-[var(--white)] cursor-not-allowed" : "hover:bg-[var(--purple)]"}`} 
*/
::-webkit-scrollbar{
    display: none;
}
